---
import Layout from '../layouts/Layout.astro';
---

<Layout title="PageLayout">
	<main>
    <h1>K.D. Kilker</h1>
    <p>K.D. Kilker was raised in small-town southern Indiana, where she spent her childhood exploring the woods and allowing her imagination to flourish. She earned her bachelor's degree in Communications and Journalism from Indiana State University in 2017 while working as a student public relations writer, honing her skills and cultivating her passion for storytelling.</p>
    <p>After graduation, K.D. worked as a reporter for local newspapers, tackling hard issues and delving into the complicated lives and rich inner worlds of the people around her. </p>
    <p>K.D. Kilker's vivid imagination and extensive background in journalism provide her with a solid foundation for crafting engaging, character-driven stories that resonate with readers. Her experiences have given her the ability to weave together narratives that blend the magic of everyday life with the extraordinary elements of fiction. She lives in Terre Haute with her husband and step-son. She currently works as a tech training librarian at the Vigo County Public Library, where she teaches robotics to kids and artificial intelligence to seniors. Connect with K.D. on [social media platforms or website] to stay updated on her latest projects and literary adventures.
    </p>
</main>
</Layout>
