---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TopMessage from '../components/TopMessage.astro';
import Footer from '../components/Footer.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="PageLayout">
	<TopMessage />
	<main>
		<h1>Reflections</h1>
		<p class="BlogIntro">
			Below, you will find my most recent blog posts.
		</p>
		<Blog />
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		font-family: Georgia, 'Times New Roman', Times, serif;
		display: block;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		color: antiquewhite;
	}
	.BlogIntro{
		color: antiquewhite;
	}
</style>
