---

---

<div id="MessageStyle">
    <h3>Get access to exclusive content by subscribing to the official <a href="patreon.com/kdkilker">Patreon<img src="4691478_patreon_icon.svg" height="30px"></a></h3>.
    </div>
    
    <style>
    #MessageStyle {
        padding: 2vh;
        height: 10vh;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        color: white;
    }
    </style>