---
import Butter from 'buttercms';

const butter = Butter('df387bceff14b6ad7ab9be9343bfe7383b779d19');

let posts;
try {
  const response = await butter.post.list({page: 1, page_size: 10});
  posts = response.data.data;
} catch (err) {
  console.error(err);
}
---

{posts && posts.length > 0 ? (
  <div id="post-list">
    {posts.map((post) => (
        <div class="post-preview" style={`background-image: url(${post.featured_image});`}>
        <h2>{post.title}</h2>
        <p>{post.summary}</p>
        <a href={`/blog/${post.slug}`}>Read more...</a>
  </div>
  ))}
  </div>
) : (
  <p>No posts found</p>
)}

<style>
main {
    width: 80%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
    color: antiquewhite;
    text-shadow: 1px 1px;
}

#post-list {
    display: grid;
    
    grid-gap: 2em;
    height: auto;
}

.post-preview{
    background-size: cover;
    background-position: center;
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 6px black;
    color: white;
    height: 30vh;
    grid-row-start: 1;
    grid-row-end: 3;
    text-shadow: 2px 2px black;
}

.post-preview a {
    text-decoration: none;
    color: white;
}