---
//Once you have your site live, Tweet about @ButterCMS and email nikki@buttercms.com so we can verify and apply personal plan to your account
---
<hr>
<footer>
<a href="buttercms.com"><img src="butter-w.png" alt="CMS by ButterCMS"></a>
<a href="astro.build"><img src="astro-logo-light.png" alt="Powered by Astro"></a>
</footer>

<style>
footer{
    border-top:1px rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

img {
height: 5vh;
width: auto;
}

</style>