---
---

<div id="FooterStyle">
<footer>
<p>&copy; {new Date().getFullYear()} K.D. Kilker</p>
    </footer>
    </div>
    
    <style>
    #Footer {
        padding: 2vh;
        font-size: 2rem;
        color: white;
    }
    </style>