---
//import
---

        <header>
        <img src="Banner.png" alt="K.D. Kilker -- Dark Fantasy" class="responsive">
    </header>
        <div class="topnav">
                <a class="active" href="#">Blog</a>
                <a href="#">Books</a>
                <a href="#">More</a>
                <a href="#">Me</a>
        </div>
<style>
     
        header, .responsive {
            display: flex;
            width: 100%;
            height: fit-content;
            background-size: cover;
        }
        
        .topnav, a{
            height: auto;
            width: 100%;
            overflow: hidden;
            display:inline-flex;
            justify-content: space-around;
            background-color: rgb(24, 23, 23);
        }
        
        .topnav a {
            text-decoration: none;
            font-size: 3vh;
            color:antiquewhite;
            font-family: Georgia, 'Times New Roman', Times, serif;
            height: auto;
            width: 100%;
            padding: 1vh;
        }
        </style>