---
//import
---

<div id="top-banner">
    <h1>Announcements</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque similique modi tempore, ipsa ipsum excepturi nihil voluptate reprehenderit. Doloremque modi dolorum omnis qui earum? Vel, itaque. Ipsum odio quis minima!</p>
</div>

<style>
#top-banner, h1, p {
    color:antiquewhite;
    padding: 1vh;
    width: 100%;
    height: auto;
}

p:first-child:first-letter {
    color: #903; 
    font-family: Georgia;
    initial-letter: 2;
  }
    </style>