---

---

<div id="top-banner">
    <h1>Announcements</h1>
    <h2>New website!</h2>
    <p class="message">Welcome to first official online home for the works of K.D. Kilker. Below, under <strong>Reflections</strong>, you will find my latest blog posts. That's the page you're on right now. On the upper navigation bar, you will also find my <strong>Books</strong>, as well as shorter works; <strong>More</strong>, where all the fun, extra stuff lives; and finally, a place to learn a little bit more about <strong>Me</strong> and how to contact. </p>
<p>Enjoy,</p>
<p><i>K.D.</i></p>
</div>

<style>
#top-banner {
    color:antiquewhite;
    padding:5vw;
    height: auto;
    display: block;
}

#top-banner .message::first-letter{
    color:rgb(88, 68, 75); 
    font-family: Georgia;
    initial-letter: 2;
  }
    </style>