---
---
<div id="Blogheader-wrapper">
<h1>Reflections</h1>
<p>Below, you will find my most recent blog posts.
</p>
</div>

<style>

    #Blogheader-wrapper {
        width: 100%;
        color: antiquewhite;
        display: block;
        justify-content: center;
    }

    h1 {
		font-weight: 800;
		margin: 0;
		color: antiquewhite;
	}
</style>