---
import Header from '../components/Header.astro';

export interface Props {
	title: string;
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>K.D. Kilker</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div id="container">
		<div id="headerstyle">
		<Header/>
	</div>
		<div id ="wrapper">
			<slot />
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>

<style is:global>
:root {
    margin: 0px;
    padding: 0px;
}

body {
	margin: 0px;
    padding: 0px;
	background-color: rgb(24, 23, 23);
}

#container {
	display: flex;
	height: 100vh;
}

#headerstyle {
	width: 15vw;
	height: 100%;
}
#wrapper {
	display: flex;
	flex-direction: column;
	width: 85vw;
	height: auto;
}

@font-face {
  font-family: 'Chapbook';
  src: url('fonts/Chapbook-Regular.otf');
}

h1 {
  font-family: 'Chapbook', sans-serif;
  font-size: 3rem;
}

.first-letter{
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 0px;
}

.first-letter::before,
.first-letter::after {
  content: "";
  display: block;
}

</style>
