---
import Header from '../components/Header.astro';
import Title from '../components/Title.astro';
import BannerMessage from '../components/BannerMessage.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>K.D. Kilker</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div id="container">
		<div id="headerstyle">
		<Header/>
	</div>
	<div id="title-and-main">
		<Title />
		<BannerMessage />
			<slot />
			<Footer />
			</div>
			
		</div>
</div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>

<style is:global>
:root {
    margin: 0px;
    padding: 0px;
}

body {
	margin: 0px;
    padding: 0px;
	background-color: rgb(24, 23, 23);

}

#container {
	display: flex;
	justify-items: center;
}

#headerstyle {
	width: 500px;
	margin: 0;

}

#title-and-main {
	height: auto;
	margin-right: 5vh;
}

#titleWrapper {
	height: 5vh;
	width: 100%;
}

@font-face {
  font-family: 'Chapbook';
  src: url('fonts/Chapbook-Regular.otf');
}

@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('fonts/GoudyBookletter1911-Regular.ttf');
}

h1 {
  font-family: 'Chapbook', sans-serif;
  font-size: 3rem;
}

p{
	font-size: 1.5em;
	font-family: 'Goudy Bookletter 1911';
}

h2, h3, h4, h5, h6 {
	font-family: 'Goudy Bookletter 1911';
}

.first-letter{
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.first-letter::before,
.first-letter::after {
  content: "";
  display: block;
}

</style>
